// Bootstrap overrides
$primary: #e4de16;
$secondary: #15253e;
$btn-primary-color: #15253e;

// Custom
$brand-secondary: #111;
$brand-yellow: #e4de16;
$brand-yellow-2: #efe673;
$brand-yellow-light: #f6f3c6;
$brand-dark: #15253e;
$brand-dark-card: #1c2b3a;
$brand-gray: #f5f5f5;
$brand-text: #15253e;
$brand-muted: #777777;
$brand-light: #ffffff;
